.post-page
  font-size: 1rem
  +margin(1.7em 0)

  a
    color: $secondary-color
    text-decoration: none
    transition: all 0.3s ease-in-out

    &:hover
      color: shade($secondary-color, 10%)
      cursor: pointer

  .breadcrumbs
    font-size: 0.9em

  h1
    font-size: 1.5em
    +margin(0.5em 0)

  h2
    color: $primary-color

  .post-author-tag
    font-size: 0.7em

    a
      font-weight: normal

  .pleaseshare
    span
      color: $primary-color

  ol
    li
      margin-bottom: 0.3em

  .big-code-snippet
    max-height: 600px
    overflow: auto

  #scroll-indicator
    height: 5px
    position: fixed
    bottom: 0
    left: 0
    background-color: $secondary-color
