<!-- Loading in some scripts here -->
<script src="{{site.baseurl}}/scripts/bundle.js"></script>

<footer>
  Copyright &copy 2015-2017 · Hungry Turtle Code - A Hungry Turtle Company · All rights reserved
  <ul>
    <li>
      <a href="{{site.baseurl}}/terms-of-use">
        Terms Of Use
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/privacy-policy">
        Privacy Policy
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/about-me">
        About Me
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/contact-me">
        Contact Me
      </a>
    </li>
  </ul>
</footer>
