<footer class="{% if page.layout == 'post-sidebar' or page.layout == 'category' or page.layout == 'tags' %}with-sidebar{% endif %}">
  Copyright &copy 2016-2019 · Hungry Turtle Code - Adrian Henry · All rights reserved
  <ul>
    <li>
      <a href="{{site.baseurl}}/terms-of-use">
        Terms Of Use
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/privacy-policy">
        Privacy Policy
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/about-me">
        About Me
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/contact-me">
        Contact Me
      </a>
    </li>
    <li>
      <a href="{{site.baseurl}}/support">
        Support the content
      </a>
    </li>
  </ul>
</footer>
