<div class="login-modal-container" htc-controller="modalCtrl" htc-modals="forgot">
  <div class="modal">
    <div class="forgot-cont" htc-track="forgot-cont">
      <h3>Forgotten Password</h3>
      <input type="text" placeholder="Email" htc-track="reset-email">
      <button id="sign-in-button" htc-click="$ctrl.resetPass()">Reset Password</button>
    </div>
    <div class="forgot-success" htc-track="forgot-success">
      <h3>Success! Check your email to reset your password</h3>
    </div>
  </div>
</div>
