<!-- Header.html -->
<header>

  <div class="header-container">
    <a href="/">
      <img class="mascot"
          src="{{site.baseurl}}/img/mascot.png"
          alt="Hungry Turtle Code Logo">
      <img class="logo"
          src="{{site.baseurl}}/img/logo.png"
          alt="Hungry Turtle Code Logo Text. Learn to write code, one line at a time">
    </a>

    <div class="header-panel">
      <div class="sign-in-register" htc-controller="headerCtrl">
        <a href="{{site.baseurl}}/account" htc-if="$ctrl.loggedIn" class="account auth-button">Account</a>
        <button
          htc-if="!$ctrl.loggedIn"
          htc-track="header-signin-btn"
          htc-click="$ctrl.showModal('sign-in')"
          class="auth-button">
            Log In / Register
        </button>
        <button
          htc-if="$ctrl.loggedIn"
          htc-track="header-logout"
          htc-click="$ctrl.showModal('sign-out')"
          class="auth-button signout">
            Sign Out
        </button>

      </div>
    </div>
  </div>

  <nav class="main-header-nav">
    <ul>
      {% for nav in site.data.navigation.primary %}
      <li>
        <a href="{{site.baseurl}}{{nav.url}}">
          {{nav.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

</header>
