<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>{%if page.head-title != nil %}{{ page.head-title }}{% elsif page.title != nil %}{{page.title}}{% else %}Learn To Code, One Line At A Time - Hungry Turtle Code{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/favicon.png">

	<!-- Google+ -->
	<link rel="publisher" href="https://plus.google.com/{{site.googleplus}}"/>
	<meta itemprop="name" content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}">
	<meta itemprop="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}">
	<meta itemprop="image" content="{% if page.googleplusimg %}{{site.produrl}}{{page.googleplusimg}}{% else %}{{site.produrl}}{{site.socialimg}}{% endif %}">

	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}"/>
	<meta property="og:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}"/>
	<meta property="og:image" content="{% if page.fbimg %}{{site.produrl}}{{page.fbimg}}{% else %}{{site.produrl}}{{site.socialimg}}{% endif %}"/>
	<meta property="og:url" content="{{site.produrl}}{{page.url}}"/>
	<meta property="og:site_name" content="{{ site.title }} "/>

	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{% if page.fulltitle %}{{page.fulltitle}}{% else %}{{page.title}} | {{ site.title }} {% endif %}">
	<meta name="twitter:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}">
	<meta name="twitter:image" content="{% if page.twitterimg %}{{site.produrl}}{{page.twitterimg}}{% else %}{{site.produrl}}{{site.socialimg}}{% endif %}"/>
	<meta name="twitter:url" content="{{site.produrl}}{{page.url}}">

	<!-- CSS & fonts -->
  {% css app %}
	<!-- Put your fonts here -->

</head>
