<div id="lesson-container">
  <div class="sidebar-container">

    <div class="logo">
      <a href="/">
        <img src="{% asset_path mascot %}"/>
        <h4>hungry<span class="turtle">turtle</span><span class="code">code</span></h4>
        <h6>A Sea Of Information</h6>
      </a>
    </div>

    {% assign lessonIndex = site.data[{{page.course-index}}] %}
    <script>
      var lessonList = {{lessonIndex | jsonify}};
      var sidebartags = {{site.data.navigation.sidebar | jsonify}}
    </script>

    <sidebar-lesson-list
      course="'{{page.categories[0] | slugify}}'"
      lesson="'{{page.slug}}'"
      premium="false">
    </sidebar-lesson-list>

  </div>
</div>
