<div class="login-modal-container" htc-controller="modalCtrl" htc-track="sign-in-modal">
  <div class="modal" htc-track="modal">
    <div class="header">
      <button class="log-in-header-btn active" for="log-in-box" htc-click="$ctrl.toggleView('log-in')" htc-header-buttons="log-in">Log In</button>
      <button class="log-in-header-btn" for="sign-up-box" htc-click="$ctrl.toggleView('sign-up')" htc-header-buttons="sign-up">Sign Up</button>
    </div>

    <div class="container log-in active" id="log-in-box" htc-authview="log-in">
      <h4>Log In</h4>
      <button class="fb" htc-click="$ctrl.authService.facebookSignIn()">Facebook</button>
      <button class="gl" htc-click="$ctrl.authService.googleSignIn()">Google</button>
      <button class="gh" htc-click="$ctrl.authService.githubSignIn()">Github</button>
      <div class="user-pass">
        <div class="divider">
          <span>OR</span>
        </div>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button id="sign-in-button">Log In</button>
        <a id="forgot-pass-btn">Forgotten Password</a>
      </div>
    </div>
    <div class="container sign-up" id="sign-up-box" htc-authview="sign-up">
      <h4>Sign Up</h4>
      <button class="fb" htc-click="$ctrl.authService.facebookSignIn()">Facebook</button>
      <button class="gl" htc-click="$ctrl.authService.googleSignIn()">Google</button>
      <button class="gh" htc-click="$ctrl.authService.githubSignIn()">Github</button>
      <div class="user-pass">
        <div class="divider">
          <span>OR</span>
        </div>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Repeat Password">
        <button id="sign-in-button">Sign Up</button>
      </div>
    </div>
  </div>
</div>
