<div class="login-modal-container">
  <div class="modal">
    <div class="header">
      <button id="log-in-header" class="active">Log In</button>
      <button id="sign-up-header">Sign Up</button>
    </div>

    <div class="container log-in active">
      <button class="fb">Log In With Facebook</button>
      <button class="gl">Log In With Google</button>
      <button class="gh">Log In With Github</button>
      <div class="user-pass">
        <span>OR</span>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button id="sign-in-button">Log In</button>
        <a id="forgot-pass-btn">Forgotten Password</a>
      </div>
    </div>
    <div class="container sign-up">
      <button class="fb">Sign Up With Facebook</button>
      <button class="gl">Sign Up With Google</button>
      <button class="gh">Sign Up With Github</button>
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Repeat Password">
    </div>
  </div>
</div>
