<aside class="sidebar">

  <!-- <section class="welcome"> -->
  <!--   <h2>Welcome to Hungry Turtle Code</h2> -->
  <!--   <p>Hungry Turtle Code is a place where all kinds of developers teach each other what they know. I intend to teach everyone as much as I know and I hope for them to teach me as much in return. Together we will be better.</p> -->
  <!-- </section> -->
  {% if page.title != 'Home Page' %}
    <section style="margin-top: 100px">
    </section>
    <section class="recent-posts">
      <h2>Recent Posts</h2>
      {% for post in site.posts limit: 3 %}
        <a href="{{site.baseurl}}{{post.url}}">
          <div class="recent-item" style="background: url('{{post.image}}') no-repeat center; background-size: cover"></div>
        </a>
      {% endfor %}

    </section>

    <script>
      var sidebarBg = '{% asset_path welcome-bg %}'
    </script>
  {% endif %}

  <section class="sidebar-space">
    <!--<a target="_blank" href="http://click.linksynergy.com/fs-bin/click?id=*6Wgk9XQOOM&amp;offerid=323058.731&amp;subid=0&amp;type=4" analytics-click="Sidebar Ad">
      <img src="{% asset_path udemy_sidebar %}" alt="Make An iPhone App">
    </a>-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Text + Display Ad -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6198767829900068"
       data-ad-slot="5978770550"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </section>

</aside>
