<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>My Account - Hungry Turtle Code</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/app.css">
</head>
<body class="account-page">
  <div class="account-sidebar">
    <div class="logo">
      <a href="/">
        <img src="{{site.baseurl}}/img/mascot.png"/>
        <h6>A Sea Of Information</h6>
      </a>
    </div>
    <ul>
      <li>My Courses</li>
      <li>Completed</li>
      <li>Bookmarked</li>
      <li>Account Info</li>
    </ul>
  </div>
  <div class="account-container">
    <main>
      <div class="titles">
        <h1>Education Goodness</h1>
        <h3>All the courses you can start watching right now</h3>
      </div>
      <div class="course-list">

        <div class="course">
          <div class="img-cont">
            <img src="https://res.cloudinary.com/djxscnpzf/image/upload/c_crop,h_422,w_520/v1478392091/756150_c033_ouavwi.jpg"/>
          </div>
          <div class="info">
            <h3>Angular 2</h3>
            <p>This is the description of the angular 2 course</p>

            <ul>
              <li><strong>Languages used: </strong>Javascript, HTML & CSS</li>
              <li><strong>Frameworks used: </strong>Angular 2</li>
              <li><strong>Skill: </strong>Intermediate</li>
              <li><strong>Lessons: </strong>10</li>
            </ul>
          </div>
          <div class="info-end">
            <button>Learn More</button>

            <div class="price">$87</div>
          </div>
        </div>
        <div class="course">
          <div class="img-cont">
            <img src="https://images.stackcommerce.com/assets/productshot1-image/2016/85f2b927bffe54c0d3c00cbfa1d9a1e3915d086e_main_hero_image.jpg"/>
          </div>
          <div class="info">
            <h3>Javascript Fundamentals</h3>
            <p>This is the description of the Javscript Fundamentals course</p>

            <ul>
              <li><strong>Languages used: </strong>Javascript, HTML & CSS</li>
              <li><strong>Skill: </strong>Beginner</li>
              <li><strong>Lessons: </strong>10</li>
            </ul>

          </div>
          <div class="info-end">
            <button>Learn More</button>

            <div class="price">$87</div>
          </div>
        </div>

        <div class="course">
          <div class="img-cont">
            <img src="http://static4.businessinsider.com/image/55ae60072acae78a008b881c/diversify-your-coding-skills-with-this-8-course-bundle.jpg"/>
          </div>
          <div class="info">
            <h3>Programming Basics</h3>
            <p>This is the description of the programming basics course</p>

            <ul>
              <li><strong>Languages used: </strong>Python, Javascript</li>
              <li><strong>Skill: </strong>Beginner</li>
              <li><strong>Lessons: </strong>10</li>
            </ul>

          </div>
          <div class="info-end">
            <button>Learn More</button>

            <div class="price">$87</div>
          </div>
        </div>

        <div class="course">
          <div class="img-cont">
            <img src="https://images.stackcommerce.com/assets/productshot1-image/1123/1a35839a7f2e310651011b368e3e10a1de74c07a_main_hero_image.png"/>
          </div>
          <div class="info">
            <h3>Python, Taking It To The Next Level</h3>
            <p>This is the description of the amazing python course course</p>

            <ul>
              <li><strong>Languages used: </strong>Python</li>
              <li><strong>Skill: </strong>Beginner</li>
              <li><strong>Lessons: </strong>10</li>
            </ul>

          </div>
          <div class="info-end">
            <button>Learn More</button>

            <div class="price">$87</div>

          </div>
        </div>

      </div>
    </main>
  </div>
  <script src="/scripts/account.js"></script>
</body>
</html>
