<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>My Account - Hungry Turtle Code</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/app.css">
</head>
<body class="account-page">
  <div class="account-sidebar">
    <div class="logo">
      <a href="/">
        <img src="{{site.baseurl}}/img/mascot.png"/>
        <h6>A Sea Of Information</h6>
      </a>
    </div>
    <ul>
      <li>My Courses</li>
      <li>Completed</li>
      <li>Bookmarked</li>
      <li>Account Info</li>
    </ul>
  </div>
  <div class="account-container">
    <main ng-app="htcaccount">


      <div class="titles">
        <h1>Education Goodness</h1>
        <h3>All the courses you can start watching right now</h3>
      </div>
      <div class="course-list">
        <course-card></course-card>
        <course-card></course-card>
        <course-card></course-card>
        <course-card></course-card>
        <course-card></course-card>
      </div>


    </main>
  </div>
  <script src="/scripts/account.js"></script>
</body>
</html>
