---
layout: default
---

<div id="sales-container">
  {% include breadcrumbs.html %}
  <main class="sales-page" ng-app="htcsalespage">
    <h1 class="h1">{{ page.title  }}</h1>
    <h2 class="h2">{{ page.subtitle  }}</h2>

    <section class="top">
      <div class="video">
      <iframe width="800" height="445" src="https://www.youtube.com/embed/Bua8k_CcnuI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="side">
        <div class="price">
          <p class="amount">${{page.price}}</p>
        </div>
        <buy-button></buy-button>
        <ul class="items">
          {% if page.lessons %}
            <li><strong>Lessons:</strong> {{page.lessons}}</li>
          {% endif %}


          {% if page.skill %}
            <li><strong>Skill Level:</strong> {{page.skill}}</li>
          {% endif %}

          {% if page.languages %}
            <li>
              <strong>Languages Used:</strong>
              <ul>
                {% for lang in page.languages %}
                  <li><a href="{{site.baseurl}}/tag/{{lang | slugify}}">{{lang}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if page.frameworks %}
            <li><strong>Frameworks:</strong>
              <ul>
                {% for fw in page.frameworks %}
                  <li><a href="{{site.baseurl}}/tag/{{fw | slugify}}">{{fw}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}

          {% if page.topics %}
            <li><strong>Topics Covered:</strong>
              <ul>
                {% for topic in page.topics %}
                  <li><a href="{{site.baseurl}}/tag/{{topic | slugify}}">{{topic}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </section>

    <div class="sales-main">
      <div class="content">
        <h2 class="top-header">A Bit About <span class="high">The</span> <span class="accent">Course</span></h2>
        <div class="article">
          {{content}}
        </div>
      </div>

      <div class="sidebar">
        {% include lesson-list.html %}
      </div>

    </div>

  </main>
</div>
<script src="{{site.baseurl}}/scripts/salespage.js"></script>
