---
layout: default
---

<div id="page-container">
  <main class="post-page">

    {% include breadcrumbs.html data=page %}

    <h1>{{page.title}}</h1>

    {% include author-tag.html data=page %}

    {% include tags.html data=page %}

    {% include share.html %}

    {{content}}

    <div id="content-end" ng-app="post.module">
      {% include tags.html data=page %}

      {% include share.html %}

      {% include related-posts.html %}

      <post-comment></post-comment>
    </div>

    <div id="scroll-indicator"></div>

  </main>


  {% include sidebar.html %}
</div>

<script>
  var scrollIndicator = document.getElementById('scroll-indicator');
  var contentEnd  = document.getElementById('content-end');
  var winHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
  var timer;

  function scrollPercFunc(){
    var scrollTop = document.body.scrollTop;
    var rectTop = contentEnd.getBoundingClientRect().top;

    var distanceToBottom = rectTop - winHeight;
    var perc = scrollTop / (scrollTop + distanceToBottom) * 100

    scrollIndicator.style.width = perc + "%";
  }

  function runOnScroll(){
    if(timer){
      clearTimeout(timer);
    }

    timer = setTimeout(scrollPercFunc, 10);
  }

  window.addEventListener("scroll", runOnScroll);

</script>

<script src="{{site.baseurl}}/scripts/post.js"></script>
