---
layout: default
---

{% include lesson-post-sidebar.html %}
<div id="page-container-sidebar">
  <div class="main-cont">
    <main class="post-page" analytics>

      {% include breadcrumbs.html data=page %}

      <div class="title-tag-wrapper">
        <h1>{{page.title}}</h1>
        {% include tags.html data=page %}
      </div>

      {% include author-tag.html data=page %}

      {% include video-embed.html videoID=page.videoID %}

      {% include share.html %}
      <div class="article-wrapper">
        <div analytics-scroll class="lesson-content-article">
          {{content}}
        </div>
        <div class="resource-sidebar">
          {% if page.demo or page.repo or page.resources %}
            <h3>Links:</h3>
            <ul>
              {% if page.demo %}
                <li><a href="{{site.url}}/demos/{{page.demo}}" target="_blank">Live demo</a></li>
              {% endif %}
              {% if page.repo %}
                <li><a href="https://github.com/{{site.github_org}}/{{page.repo}}" target="_blank">Github Repo</a></li>
              {% endif %}
              <br/>
              {% for res in page.resources %}
                <li><a href="{{res.link}}" target="_blank">{{res.name}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div id="content-end">
        {% include tags.html data=page %}

        {% include share.html %}

        {% include related-posts.html %}

        {% if page.hide-comments != true %}
          <post-comment></post-comment>
        {% endif %}
      </div>

      <div id="scroll-indicator"></div>

    </main>
  </div>


</div>

<script>
  var scrollIndicator = document.getElementById('scroll-indicator');
  var contentEnd  = document.getElementById('content-end');
  var winHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
  var timer;

  function scrollPercFunc(){
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
    var rectTop = contentEnd.getBoundingClientRect().top;

    var distanceToBottom = rectTop - winHeight;
    var perc = scrollTop / (scrollTop + distanceToBottom) * 100

    scrollIndicator.style.width = perc + "%";
  }

  function runOnScroll(){
    if(timer){
      clearTimeout(timer);
    }

    timer = setTimeout(scrollPercFunc, 10);
  }

  window.addEventListener("scroll", runOnScroll);

</script>

{% javascript manifest %}
{% javascript post %}

