.forgot-container
  width: 500px
  margin: 0

  h1
    font-size: 1.2em

  .info-box
    height: 80px

    .info
      display: none
      padding: 10px
      border-radius: 10px
      font-size: 0.8em

      &.success
        color: green
        background: lighten(green, 60%)

      &.error
        color: red
        background: lighten(red, 40%)

    .active
      display: block

.reset-cont
  padding: 30px
  background: #efefef
  +clearfix
  box-shadow: 0 5px 15px rgba(0,0,0,.2)

  label
    font-size: 0.6em
    margin-bottom: 0.3em
    display: block

  input
    font-size: 1.2em
    color: #666
    outline: none
    padding: 5px 10px
    width: 100%
    border: 1px solid transparent

    &.error
      border: 1px solid red

    &.success
      border: 1px solid green

  button
    margin-top: 1em
    padding: 0.5em 1em
    cursor: pointer
    color: white
    background-color: $primary-color
    float: right
    outline: none
    border: none

