header
  background-color: $default-dark-color
  font-size: 1rem
  position: relative
  z-index: 110

  &.lesson-sidebar,
  &.archive-sidebar
    margin-left: 220px
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 100

  .header-container
    +outer-container
    +padding(10px 10px 3px 10px)
    +position(relative)

    a
      text-decoration: none
      @media screen and (max-width: 800px)
        display: block
        text-align: center

    h4
      display: inline-block
      margin: 0
      padding: 0
      color: #c2c2c2

      .turtle
        color: #fefefe
      .code
        color: $secondary-color

    nav
      display: inline-block
      font-size: 0.8em

      @media screen and (max-width: 550px)
        display: block
        margin: 0 auto

      ul
        display: inline
        padding-left: 1em

        @media screen and (max-width: 550px)
          display: flex
          flex-wrap: wrap
          justify-content: center
          font-size: 1.1em

        li
          display: inline
          list-style: none
          border-right: 1px solid rgba(#ebebeb, 0.4)

          &:last-child
            border-right: none

          a
            display: inline-block
            padding: 0.8em 1em 1em 1em
            // color: #c4c4c4
            color: pick-contrast($default-dark-color)
            text-decoration: none
            font-size: 0.9em
            +transition(color 0.4s ease-in-out, color 0.4s ease-in-out)
            cursor: pointer

            &:hover
              color: $secondary-color

    .mini-mascot
      width: auto
      height: 30px
      vertical-align: middle

    .mascot
      +position(absolute, 10px null null 0)

    .header-panel
      vertical-align: top
      // height: 100px
      float: right
      width: 200px
      padding-top: 3px

      @media screen and (max-width: 870px)
        width: 130px

      .sign-in-register
        display: flex
        justify-content: space-between

      .relative
        position: relative
        display: inline-block

        .popover
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
          position: absolute
          top: 43px
          width: 350px
          right: 0px
          background: white
          padding: 1em
          border-radius: 0.1em
          z-index: 100

          &.ng-enter
            transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940)

          .arrow
            width: 0
            height: 0
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-bottom: 10px solid white
            position: absolute
            right: 7px
            top: -10px

          .notification-item
            border-bottom: 1px solid #d4d4d4
            padding-bottom: 0.5em
            margin-bottom: 1em
            cursor: pointer

            .top
              img
                height: 50px
                width: 50px

              .reply-text
                display: inline-block
                width: 250px
                vertical-align: top
                margin: 0
                font-size: 0.7em
                padding: 0 0 0 0.5em

                strong
                  text-transform: capitalize

            .bottom
              +clearfix

              .date
                display: inline-block
                font-size: 0.6em
                margin: 0
                float: right


      .notification-btn,
      .account
        display: inline-block
        position: relative
        // background: $secondary-color
        background: transparent
        border: none
        outline: none
        border-radius: 50%
        cursor: pointer

        svg
          width: 15px
          height: 15px
          margin: 5px 0 2px 3px

          path
            fill: white

        span
          background: $primary-color
          border-radius: 50%
          color: black
          width: 15px
          height: 15px
          text-align: center
          padding-top: 1px
          position: absolute
          font-size: 0.7em
          top: -5px
          right: -9px
          display: flex
          justify-content: center
          align-items: center

      .account
        padding: 0 6px 0 4px

      .auth-button
        border: 0
        text-decoration: none
        background: none
        color: darken(harmonious-mix($default-dark-color, $secondary-color), 5%)
        // color: $secondary-color
        cursor: pointer
        outline: none
        font-size: 0.8em

        @media screen and (max-width: 870px)
          font-size: 0.7em

        &.signin
          margin-top: 5px
          color: lighten($secondary-color, 5%)

        &:hover
          text-decoration: underline
        //   background: shade($primary-color, 10%)

      .cart-icon
        svg
          margin: 5px 2px 2px 1px

  &.archive-sidebar,
  &.lesson-sidebar
    .header-container
      padding-left: 128px
      padding-right: 128px

  &.lesson-sidebar
  &.archive-sidebar
    .header-container
      .header-panel
        @media screen and (max-width: 1140px)
          width: 120px
          font-size: 0.7em

      nav
        ul
          @media screen and (max-width: 1030px)
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin: 0

body
  #page-container-sidebar
    @media screen and (max-width: 770px)
      padding-left: 180px

    @media screen and (max-width: 550px)
      padding-left: 0px

    @media screen and (max-width: 725px)
      margin-top: calc(95px + 1.7em)

    @media screen and (max-width: 430px)
      margin-top: calc(145px + 1.7em)

    @media screen and (max-width: 270px)
      margin-top: calc(175px + 1.7em)

    .post-page
      .article-wrapper
        @media screen and (max-width: 550px)
          display: block
        .lesson-content-article
          @media screen and (max-width: 550px)
            display: block
            width: 100%

  #lesson-container
    .sidebar-container
      @media screen and (max-width: 770px)
        width: 180px

      @media screen and (max-width: 550px)
        display: none

  header
    &.lesson-sidebar,
    &.archive-sidebar
      @media screen and (max-width: 770px)
        margin-left: 180px

      @media screen and (max-width: 550px)
        margin-left: 0px

      .header-container
        @media screen and (max-width: 1050px)
          padding-left: 40px
          padding-right: 40px

        @media screen and (max-width: 840px)
          padding-left: 10px
          padding-right: 10px


.lesson-sidebar,
.archive-sidebar
  .mascot-logo-link
    @media screen and (min-width: 550px)
      display: none
