$harm-primary: harmonious-mix($secondary-color, $primary-color)
$neut1-primary: mix-neutral($harm-primary)
$neut2-primary: lighten($neut1-primary, 40%)
$neut3-primary: darken($neut1-primary, 20%)
$neut3-primary: lighten($neut1-primary, 20%)

.cta
  background: $neut2-primary
  margin-bottom: 2em
  position: relative
  overflow: hidden

  .right-block
    height: 500px
    width: 1000px
    transform: rotate(-40deg)
    background: $neut1-primary
    position: absolute
    top: -40%
    left: -35%

  .left-block
    height: 500px
    width: 1500px
    transform: rotate(30deg)
    background: $neut3-primary
    position: absolute
    top: -40%
    left: 55%
    z-index: 0

  .cont
    width: 1200px
    padding: 3em 2em 2em 2em
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 10

  h1
    color: pick-contrast($neut2-primary)
    margin: 0
    padding: 0

  p
    font-size: 1.1em
    max-width: 600px
    margin: 3em auto

  .button
    text-decoration: none
    display: inline-block
    // color: lighten(mix-neutral($secondary-color), 70%)
    // background: tint($secondary-color, 10%)
    // background: $neut3-primary
    background: $primary-color
    color: pick-contrast($primary-color)
    padding: 1em 2em
    border: none
    outline: none
    cursor: pointer
    transition: background 0.3s ease-in

    &:hover
      background: shade($primary-color, 20%)



