header
  background-color: $default-dark-color
  font-size: 1rem

  .header-container
    +outer-container
    +padding(10px 10px 3px 10px)
    +position(relative)

    .mascot
      +position(absolute, 10px null null 0)

    .logo
      margin-left: 220px

    .header-panel
      display: inline-block
      vertical-align: top
      height: 100px
      float: right

      #signin-btn
        border: 0
        background: $secondary-color
        color: white
        padding: 0.4em 1em
        border-radius: 0.2em
        cursor: pointer
        transition: all 0.3s ease
        outline: none

        &:hover
          background: shade($primary-color, 10%)


  nav
    background-color: $primary-color

    ul
      +outer-container
      +padding(0 0 0 95px)
      +margin(0 auto)
      +position(relative)
      z-index: 2

      li
        display: inline-block

        a
          font-weight: bold
          display: inline-block
          padding: 0.7em 1em
          color: black
          text-decoration: none
          font-size: 0.9em
          +transition(background-color 0.4s ease-in-out)

          &:hover
            background: tint($primary-color, 80%)
            cursor: pointer
