<article class="article-excerpt">
  <a href="#" class="thumbnail">
    <img class="post-summary-image" src="https://res.cloudinary.com/djxscnpzf/image/upload/v1470611214/JavaScript_DebuggngTip_msy13l.jpg" alt="Debug() – Javascript Debugging Tips">
  </a>
  <div class="summary">
    <a href="#">
      <h2>Debug() - Javascript Debugging Tips</h2>
    </a>

    <strong class="post-author-tag">
      By
      <a href="#">Adrian</a> on August 9th, 2016 in <a href="#">Javascript</a>, <a href="#">Tips & Tricks</a>
    </strong>

    <a href="#">
      <p>Debug() – The Death Of Ctrl+f If you are anything like me, you have wasted countless hours of your life using ctrl+f to find functions inside your code. If you only have one file, ctrl+f is still going to be …</p>
    </a>
  </div>
</article>
