<article class="article-excerpt">
  <a href="{{site.url}}{{include.data.permalink}}" class="thumbnail">
    <img class="post-summary-image" src="{{include.data.image}}" alt="Debug() – Javascript Debugging Tips">
  </a>
  <div class="summary">
    <a href="{{site.url}}{{include.data.permalink}}">
      <h2>{{include.data.title}}</h2>
    </a>

    <strong class="post-author-tag">
      By
      <a href="#">{{include.data.author}}</a> on {{include.data.date}} in
      {% for cat in include.data.categories %}
        <a href="{{site.url}}/{{cat | slugify}}">{{cat}}</a>{% if forloop.index != include.data.categories.size  %}<span>, </span>{% endif %}
      {% endfor %}
    </strong>

    <a href="{{site.url}}{{include.data.permalink}}">
      <p>{{post.excerpt}}</p>
    </a>
  </div>
</article>
