<!-- Header.html -->
<header>

  <div class="header-container">
    <a href="{{site.baseurl}}">
      <img class="mascot"
          src="{{site.baseurl}}/img/mascot.png"
          alt="Hungry Turtle Code Logo">
      <img class="logo"
          src="{{site.baseurl}}/img/logo.png"
          alt="Hungry Turtle Code Logo Text. Learn to write code, one line at a time">
    </a>
  </div>

  <nav>
    <ul>
      {% for nav in site.data.navigation.primary %}
      <li>
        <a href="{{site.baseurl}}{{nav.url}}">
          {{nav.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

</header>
