$highlight-background: #272822;
$highlight-comment: #75715e;
$highlight-error: #960050;
$highlight-error-bg: #1e0010;
$highlight-keyword: #66d9ef;
$highlight-literal: #ae81ff;
$highlight-string: #e6db74;
$highlight-name: #f8f8f2;
$highlight-operator: #f92672;
$highlight-attribute: #a6e22e;

.highlight{
  font-size: 1.2rem;
  background: $highlight-background;
  margin: 1em 0;
  overflow: auto;
  padding: 0 0.6em;
  color: #eee;

  &.inline{
    font-size: 0.8em;
    padding: 0.3em 0.5em 0.1em 0.5em;
    margin: 0 0.2em;
  }

  pre{
    margin: 0.5em 0;
  }

  .code{
    padding-left: 1.2em
  }

  .hll { background-color: $highlight-background  }
  .c { color: $highlight-comment  } /* Comment */
  .err { color: $highlight-error; background-color: $highlight-error-bg  } /* Error */
  .k { color: $highlight-keyword  } /* Keyword */
  .l { color: $highlight-literal  } /* Literal */
  .n { color: $highlight-name  } /* Name */
  .o { color: $highlight-operator  } /* Operator */
  .p { color: $highlight-name  } /* Punctuation */
  .cm { color: $highlight-comment  } /* Comment.Multiline */
  .cp { color: $highlight-comment  } /* Comment.Preproc */
  .c1 { color: $highlight-comment  } /* Comment.Single */
  .cs { color: $highlight-comment  } /* Comment.Special */
  .ge { font-style: italic  } /* Generic.Emph */
  .gs { font-weight: bold  } /* Generic.Strong */
  .kc { color: $highlight-keyword  } /* Keyword.Constant */
  .kd { color: $highlight-keyword  } /* Keyword.Declaration */
  .kn { color: $highlight-operator  } /* Keyword.Namespace */
  .kp { color: $highlight-keyword  } /* Keyword.Pseudo */
  .kr { color: $highlight-keyword  } /* Keyword.Reserved */
  .kt { color: $highlight-keyword  } /* Keyword.Type */
  .ld { color: $highlight-string  } /* Literal.Date */
  .m { color: $highlight-literal  } /* Literal.Number */
  .s { color: $highlight-string  } /* Literal.String */
  .na { color: $highlight-attribute  } /* Name.Attribute */
  .nb { color: $highlight-name  } /* Name.Builtin */
  .nc { color: $highlight-attribute  } /* Name.Class */
  .no { color: $highlight-keyword  } /* Name.Constant */
  .nd { color: $highlight-attribute  } /* Name.Decorator */
  .ni { color: $highlight-name  } /* Name.Entity */
  .ne { color: $highlight-attribute  } /* Name.Exception */
  .nf { color: $highlight-attribute  } /* Name.Function */
  .nl { color: $highlight-name  } /* Name.Label */
  .nn { color: $highlight-name  } /* Name.Namespace */
  .nx { color: $highlight-attribute  } /* Name.Other */
  .py { color: $highlight-name  } /* Name.Property */
  .nt { color: $highlight-operator  } /* Name.Tag */
  .nv { color: $highlight-name  } /* Name.Variable */
  .ow { color: $highlight-operator  } /* Operator.Word */
  .w { color: $highlight-name  } /* Text.Whitespace */
  .mf { color: $highlight-literal  } /* Literal.Number.Float */
  .mh { color: $highlight-literal  } /* Literal.Number.Hex */
  .mi { color: $highlight-literal  } /* Literal.Number.Integer */
  .mo { color: $highlight-literal  } /* Literal.Number.Oct */
  .sb { color: $highlight-string  } /* Literal.String.Backtick */
  .sc { color: $highlight-string  } /* Literal.String.Char */
  .sd { color: $highlight-string  } /* Literal.String.Doc */
  .s2 { color: $highlight-string  } /* Literal.String.Double */
  .se { color: $highlight-literal  } /* Literal.String.Escape */
  .sh { color: $highlight-string  } /* Literal.String.Heredoc */
  .si { color: $highlight-string  } /* Literal.String.Interpol */
  .sx { color: $highlight-string  } /* Literal.String.Other */
  .sr { color: $highlight-string  } /* Literal.String.Regex */
  .s1 { color: $highlight-string  } /* Literal.String.Single */
  .ss { color: $highlight-string  } /* Literal.String.Symbol */
  .bp { color: $highlight-name  } /* Name.Builtin.Pseudo */
  .vc { color: $highlight-name  } /* Name.Variable.Class */
  .vg { color: $highlight-name  } /* Name.Variable.Global */
  .vi { color: $highlight-name  } /* Name.Variable.Instance */
  .il { color: $highlight-literal  } /* Literal.Number.Integer.Long */

  .gh {  } /* Generic Heading & Diff Header */
  .gu { color: $highlight-comment;  } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: $highlight-operator;  } /* Generic.Deleted & Diff Deleted */
  .gi { color: $highlight-attribute;  } /* Generic.Inserted & Diff Inserted */
}
