---
layout: default
---

<h1>Home page call to action</h1>

<div id="page-container">
  <main>
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
    {% include article-excerpt.html %}
  </main>

  {% include sidebar.html %}
</div>
